{% extends "base.html" %}

{% block title %}Каталог книг{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>
                <a href="{% url 'books' %}">Каталог</a>
            </h1>
        </div>

        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>
                        Дата публикации:
                        <a href="{% url 'books_by_date' book.pub_date|date:'Y-m-d' %}">
                        {{ book.pub_date|date:"Y-m-d" }}
                        </a>
                    </p>
                </div>
            {% empty %}
                <p>Книг пока нет.</p>
            {% endfor %}
        </div>
        <div>
            {% if previous_date %}
                <a href="{% url 'books_by_date' previous_date|date:'Y-m-d' %}">
                    ← {{ previous_date|date:"Y-m-d" }}
                </a>
            {% endif %}

            {% if next_date %}
                <a href="{% url 'books_by_date' next_date|date:'Y-m-d' %}">
                    {{ next_date|date:"Y-m-d" }} →
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}